<h1><center>Assignment</center></h1>

Consider following code to answer further questions:

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The difference between the functions loc and iloc in pandas.DataFrame is that loc is label-based, which means that you have to specify rows and columns based on their row and column labels, whereas iloc is integer index-based, so you have to specify rows and columns by their integer index positions (0-based integer position).

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [3]:
new_df = df.reindex([3, 0, 1, 2])
print(new_df.loc[2])
print(new_df.iloc[2])
new_df

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

new_df.loc[2] returns the row with label 2, which is the third row in the original dataframe, whereas new_df.iloc[2] returns the row with index position 2, which is the second row in the new dataframe after reindexing.

### Consider the below code to answer further questions:

import pandas as pd<br>
import numpy as np<br>
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']<br>
indices = [1,2,3,4,5,6]<br>
#Creating a dataframe:<br>
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [4]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.269473  0.627270  0.771690  0.368341  0.489840  0.858143
2  0.787258  0.066351  0.967252  0.406736  0.598555  0.590039
3  0.673574  0.494910  0.201412  0.441576  0.838812  0.658970
4  0.602615  0.006517  0.419454  0.881355  0.023437  0.863067
5  0.036768  0.181486  0.060699  0.559650  0.883278  0.978538
6  0.618513  0.998757  0.404343  0.731197  0.895738  0.424897

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
- mean of each and every column present in the dataframe.
- standard deviation of column, ‘column_2’

In [5]:
df1.mean()

column_1    0.498034
column_2    0.395882
column_3    0.470808
column_4    0.564809
column_5    0.621610
column_6    0.728942
dtype: float64

In [6]:
df1['column_2'].std()

0.382874959508801

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.

If you are getting errors in executing it then explain why.<br>
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [7]:
df1.loc[2, 'column_2'] = "TRK"
df1
#print(df1['column_2'].mean()) will cause an error becuase of string variable

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.269473   0.62727  0.771690  0.368341  0.489840  0.858143
2  0.787258       TRK  0.967252  0.406736  0.598555  0.590039
3  0.673574   0.49491  0.201412  0.441576  0.838812  0.658970
4  0.602615  0.006517  0.419454  0.881355  0.023437  0.863067
5  0.036768  0.181486  0.060699  0.559650  0.883278  0.978538
6  0.618513  0.998757  0.404343  0.731197  0.895738  0.424897

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

Pandas window functions are functions where the input values are taken from a “window” of one or more rows in a series or a table and calculation is performed over them. Pandas supports 4 types of windowing operations:
1. Rolling window: Generic fixed or variable sliding window over the values.
2. Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.
3. Expanding window: Accumulating window over the values.
4. Exponentially Weighted window: Accumulating and exponentially weighted window over the values¹.

### Q7. Write a code to print only the current month and year at the time of answering this question.

In [8]:
from datetime import datetime

now = datetime.now()
current_month = now.month
current_year = now.year

print("Current month:", current_month)
print("Current year:", current_year)

Current month: 4
Current year: 2023

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [9]:
date1 = input("Enter first date in YYYY-MM-DD format: ")
date2 = input("Enter second date in YYYY-MM-DD format: ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

delta = date2 - date1

print(f"The difference between {date1} and {date2} is {delta.days} days")

Enter first date in YYYY-MM-DD format:  2022-01-31
Enter second date in YYYY-MM-DD format:  2023-01-31

The difference between 2022-01-31 00:00:00 and 2023-01-31 00:00:00 is 365 days

### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

```python
import pandas as pd

file_path = input("Enter file path: ")
df = pd.read_csv(file_path)

col_name = input("Enter column name: ")
cat_order = input("Enter category order (comma-separated): ")
cat_order = cat_order.split(",")
df[col_name] = pd.Categorical(df[col_name], categories=cat_order)

print(df.sort_values(col_name))
```

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

```python
import matplotlib.pyplot as plt

file_path = input("Enter file path: ")
df = pd.read_csv(file_path)

# Create a pivot table to aggregate sales data by product category and date
pivot_table = df.pivot_table(index='Date', columns='Product Category', values='Sales', aggfunc='sum')

# Create stacked bar chart
pivot_table.plot(kind='bar', stacked=True)
plt.show()
```

### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table. 

The program should do the following:

- I Prompt the user to enter the file path of the CSV file containing the student dataR
- I Read the CSV file into a Pandas DataFrameR
- I Calculate the mean, median, and mode of the test scores using Pandas toolsR
- I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns:

- I Student ID: The ID of the studentR
- I Test Score: The score of the student's test.

Example usage of the program:<br>
Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+<br>
| Statistic | Value |<br>
+-----------+--------+<br>
| Mean | 79.6 |<br>
| Median | 82 |<br>
| Mode | 85, 90 |<br>
+-----------+--------+<br>

Assume that the CSV file student_data.csv contains the following data:<br>
Student ID,Test Score

1,85<br>
2,90<br>
3,80<br>
4,75<br>
5,85<br>
6,82<br>
7,78<br>
8,85<br>
9,90<br>
10,85<br>

The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [10]:
file_path = input("Enter file path of CSV file containing student data: ")
df = pd.read_csv(file_path)

# mean
mean = df['Test Score'].mean()

# medain
median = df['Test Score'].median()

# mode
mode = df['Test Score'].mode()

print("+-----------+--------+")
print("| Statistic | Value  |")
print("+-----------+--------+")
print("| Mean      |", round(mean, 1), "  |")
print("| Median    |", int(median), "    |")
print("| Mode      |", ", ".join(str(x) for x in mode), "    |")
print("+-----------+--------+")

Enter file path of CSV file containing student data:  student_data.csv

+-----------+--------+
| Statistic | Value  |
+-----------+--------+
| Mean      | 83.5   |
| Median    | 85     |
| Mode      | 85     |
+-----------+--------+