<h1><center>Assignment</center></h1>

### Q-1) What is a database? Differentiate between SQL and NoSQL databases.

A database is a systematic or organized collection of related information that is stored in such a way that it can be easily accessed, retrieved, managed, and updated. It is where all data is stored, very much like a library that houses a wide range of books from different genres. Think of data as books. They support electronic storage and manipulation of data. Databases make data management easy.

#### SQL vs NoSQL Databases

- SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 
- In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU or SSD. But on the other hand NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database. It is similar to adding more floors to the same building versus adding more buildings to the neighborhood. Thus NoSQL can ultimately become larger and more powerful, making these databases the preferred choice for large or ever-changing data sets.
- SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores. This makes relational SQL databases a better option for applications that require multi-row transactions such as an accounting system or for legacy systems that were built for a relational structure. 
- SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability) whereas the NoSQL database follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance). 
- Great support is available for all SQL database from their vendors. Also a lot of independent consultations are there who can help you with SQL database for a very large scale deployments but for some NoSQL database you still have to rely on community support and only limited outside experts are available for setting up and deploying your large scale NoSQL deployments.

### Q-2) What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database. You can generate DDL in a script for database objects to: Keep a snapshot of the database structure. Set up a test system where the database acts like the production system but contains no data.

#### CREATE

The CREATE Keyword is used to create a database, table, views, and index. We can create the table CUSTOMER as below:

<b>CREATE TABLE CUSTOMER (CUST_ID INT PRIMARY KEY, NAME VARCHAR(50), STATE VARCHAR(20));</b>

#### DROP

The DROP keyword can be used to delete a database, table, view, column, index, etc. A database in SQL can be deleted by using the DROP DATABASE statement:

<b>DROP DATABASE DATABASE_NAME;</b>

#### ALTER

The Keyword ALTER is used to modify the columns in tables. The ALTER COLUMN statement modifies the data type of a column, and the ALTER TABLE modifies the columns by adding or deleting them.

We can modify the columns of the CUSTOMER table as below by adding a new column, “AGE”.

<b>ALTER TABLE CUSTOMER ADD AGE INT;</b><br>
<b>SELECT * FROM CUSTOMER;</b>

#### TRUNCATE

This is used to delete the data in a table, but it does not delete the structure of the table. The below query only deletes the data, but the structure of the table remains. So there is no need to re-create the table.

<b>TRUNCATE TABLE CUSTOMER;</b>

### Q-3) What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is an abbreviation for Data Manipulation Language. Represents a collection of programming languages explicitly used to make changes to the database, such as: CRUD operations to create, read, update and delete data. Using INSERT, SELECT, UPDATE, and DELETE commands.

#### INSERT

The INSERT Keyword is used to insert the rows of data into a table. We can insert the row below to the already created CUSTOMER table using the query below.

<b>INSERT INTO CUSTOMER VALUES (121,'Rajesh','Maharashtra');</b>

#### UPDATE

This keyword is used in an SQL statement to update the existing rows in a table.

<b>UPDATE CUSTOMER SET STATE ='Rajasthan' WHERE CUST_ID= 121;</b><br>
<b>SELECT * FROM CUSTOMER;</b>

#### DELETE

This is used to delete the existing rows from a table. The below query will display the below as the row with Name as Rajesh is deleted from the result set.

<b>DELETE FROM CUSTOMER WHERE NAME='Rajesh';</b>

### Q-4) What is DQL? Explain SELECT with an example.

Data query language (DQL) is part of the base grouping of SQL sub-languages. These sub-languages are mainly categorized into four categories: a data query language (DQL), a data definition language (DDL), a data control language (DCL), and a data manipulation language (DML).

#### SELECT

This keyword is used to select the data from the database or table. The ‘*’ is used in the select statement to select all the columns in a table.

<b>SELECT NAME FROM CUSTOMER;</b>

The result of the above query will display the column NAME from the CUSTOMER table.

### Q-5) Explain Primary Key and Foreign Key.

#### Primary Key

Primary key is a column whose value exists and is unique for every records in 
the table and one table can't have more than one PK and it can't be of null value
PK is unique identifier of a table.

#### Foreign Key

Foreign Key are those column which used to establish relationship of one 
table to one or more table. One table can have multiple foreign keys.

### Q-6) Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
                host = 'localhost',
                user = 'root',
                password = 'password')
mycursor = mydb.cursor()
mycursor.execute('select * from employees.employees')
for i in mycursor.fetchall():
    print(i)
mydb.close()

<b>cursor()</b> is mysql.connector class method used to execute statements & 
to communicate with mysql database. using cursor we can fetch or execute sql 
statements.

<b>execute()</b> is cursor method object which accept MySql query as a parameter 
and execute the give query.

### Q-7) Give the order of execution of SQL clauses in an SQL query.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.