<h1><center>Assignment</center></h1>

In [1]:
import pandas as pd

### Q1. List any five functions of the pandas library with execution.

1. `read_csv()` - This function is used to read a CSV file and convert it into a Pandas DataFrame. Here is an example of how to use it:
```python
df = pd.read_csv('file.csv')
```

2. `head()` - This function is used to display the first n rows of a DataFrame. Here is an example of how to use it:
```python
print(df.head(10))
```

3. `tail()` - This function is used to display the last n rows of a DataFrame. Here is an example of how to use it:
```python
print(df.tail(10))
```

4. `apply()` - This function is used to apply a function to each element in a DataFrame. Here is an example of how to use it:
```python
df['column1'] = df['column1'].apply(lambda x: x*2)
```

5. `to_csv()` - This function is used to write a Pandas DataFrame to a CSV file. Here is an example of how to use it:
```python
df.to_csv('new_file.csv', index=False)
```

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [2]:
def reindex_dataframe(df):
    df.index = pd.RangeIndex(start=1, stop=2*len(df)+1, step=2)
    return df

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df = reindex_dataframe(df)
df

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [3]:
def sum_first_three(df):
    total = 0
    for i in range(3):
        total += df['Values'][i]
    print(total)
    
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)

60

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [4]:
def num_words(sentence):
    list_of_words = sentence.split(' ')
    return len(list_of_words)

df = pd.DataFrame({'Text': ['This is a sentence', 'This is another sentence', 'This is yet another sentence']})
df['Word_Count'] = df['Text'].apply(num_words)
df

                           Text  Word_Count
0            This is a sentence           4
1      This is another sentence           4
2  This is yet another sentence           5

### Q5. How are DataFrame.size() and DataFrame.shape() different?

In Pandas, DataFrame.size returns the number of elements in a DataFrame, which is equivalent to the total number of cells in the DataFrame (i.e., rows x columns).

On the other hand, DataFrame.shape returns a tuple representing the dimensionality of the DataFrame. The tuple contains two elements: the number of rows and columns in the DataFrame.

### Q6. Which function of pandas do we use to read an excel file?

In Pandas, we use the `read_excel()` function to read an Excel file. This function reads data from an Excel file into a Pandas DataFrame.

Example:
```python
df = pd.read_excel('file_name.xlsx')
```

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [5]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda e : e.split('@')[0])
    return df

df = pd.DataFrame({
    'Email': ['john.doe@example.com', 'jane.doe@example.com', 'jim.smith@example.com']
})

df = extract_username(df)
df

                   Email   Username
0   john.doe@example.com   john.doe
1   jane.doe@example.com   jane.doe
2  jim.smith@example.com  jim.smith

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C<br>
3 5 1<br>
8 2 7<br>
6 9 4<br>
2 3 5<br>
9 1 2<br>

Your function should select the following rows: 

A B C<br>
8 2 7<br>
9 1 2<br>

The function should return a new DataFrame that contains only the selected rows.

In [6]:
def fun(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

data = {'A':[3,8,5,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]}
df = pd.DataFrame(data)

fun(df)

   A  B  C
1  8  2  7
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [7]:
def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    return mean, median, std_dev

df = pd.DataFrame({
    'Values': [10, 22, 456, 43, 50]
})

mean, median, std_dev = calculate_stats(df)

print('Mean:', mean)
print('Median:', median)
print('Standard deviation:', std_dev)

Mean: 116.2
Median: 43.0
Standard deviation: 190.6284343952916

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [8]:
def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

df = pd.DataFrame({
    'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90],
    'Date': pd.date_range('20220101', periods=9)
})

new_df = calculate_moving_average(df)
new_df

   Sales       Date  MovingAverage
0     10 2022-01-01           10.0
1     20 2022-01-02           15.0
2     30 2022-01-03           20.0
3     40 2022-01-04           25.0
4     50 2022-01-05           30.0
5     60 2022-01-06           35.0
6     70 2022-01-07           40.0
7     80 2022-01-08           50.0
8     90 2022-01-09           60.0

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01<br>
1 2023-01-02<br>
2 2023-01-03<br>
3 2023-01-04<br>
4 2023-01-05<br>

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday<br>
1 2023-01-02 Monday<br>
2 2023-01-03 Tuesday<br>
3 2023-01-04 Wednesday<br>
4 2023-01-05 Thursday<br>

The function should return the modified DataFrame.

In [9]:
def extract_weekday(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

data = {'Date':(pd.date_range('20210406',periods = 7))}
df = pd.DataFrame(data)
extract_weekday(df)

        Date    Weekday
0 2021-04-06    Tuesday
1 2021-04-07  Wednesday
2 2021-04-08   Thursday
3 2021-04-09     Friday
4 2021-04-10   Saturday
5 2021-04-11     Sunday
6 2021-04-12     Monday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [10]:
def fun(df):
    return df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

To use the basic functions of pandas, you need to import the pandas library first. You can do this by running the following command at the beginning of your Python script:

```python
import pandas as pd
```